// $mainFont: 'Roboto', sans-serif;
// $secondaryFont: 'Raleway', sans-serif;

:root {
  --text-font-family: 'Roboto', sans-serif;
  --heading-font-family: 'Raleway', sans-serif;
  --text-alternate-color: #212121;
  --text-color: #757575;
  --color-light: #fff;
  --active--color: #2196f3;
  --logo-dark-color: #000000;
  --text-color-footer: rgba(255, 255, 255, 0.6);
  --color-light-bg: #fff;
  --color-dark-bg: #2f303a;
  --team-bg: #f5f4fa;
}
